body {
    background-color: #ccc;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

th,
td {
    border: 2px solid black;
    font-weight: bold;
    padding: 0.3ch;
    text-align: center;
    aspect-ratio: 1 / 1;
}

th {
    background-color: rgb(0 0 0 / 0.2);
    font-weight: bold;
}

th[scope="row"] {
    border-inline-end: thick double black;
}
th:not([scope="row"]) {
    border-block-end: thick double black;
}


caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

caption:first-letter {
  text-transform: capitalize;
}

#container {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
}
